<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="assets/images/osl_logo.svg">
    <title>Old Skool Labs</title>

    <style>
        * {
            box-sizing: border-box;
        }

        :root {
            --primary-color: black;
            --secondary-color: white;
            --third-color: white;
            --fourth-color: rgba(0, 0, 0, 0.5);
            --outro: black;
        }

        .dark-theme {
            --primary-color: white;
            --secondary-color: black;
            --third-color: #232121;
            --fourth-color: rgba(255, 255, 255, 0.5);
            --outro: #555555;
        }

        body {
            background-color: var(--secondary-color);
            margin: 0;
        }

        header {
            background: linear-gradient(to right, rgba(255, 106, 23, 0.3), rgba(82, 75, 227, 0.4), rgba(82, 75, 227, 0.6), white);
            display: flex;
            flex-direction: column;
            padding: 14px 56px;
        }

        header nav {
            display: flex;
            gap: 67.5px;
        }

        header ul {
            list-style: none;
            color: white;
        }

        header ul a {
            text-decoration: none;
            color: white;
        }

        header nav div {
            display: flex;
            gap: 4px;
            align-items: center;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 18px;
        }

        header nav a {
            display: flex;
            gap: 4px;
            align-items: center;
            text-decoration: none;
            color: black;
        }

        header>div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        header>div:last-child,
        .ham-menu {
            display: none;
        }

        header>div:last-child.active {
            display: block;
            transition: .3s all;
        }

        .ham-menu {
            cursor: pointer;
            height: 50px;
            width: 40px;
            margin-left: auto;
            position: relative;
        }

        .ham-menu span {
            height: 5px;
            width: 100%;
            border-radius: 25px;
            background-color: black;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }

        .ham-menu span:nth-child(1) {
            background-color: rgba(255, 105, 21, 1);
            top: 25%;
        }

        .ham-menu span:nth-child(3) {
            background-color: rgba(255, 105, 21, 1);
            top: 75%;
        }

        .ham-menu.active span {
            background-color: black;
        }

        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }

        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        header>div:first-child>div:last-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }

        header>div:first-child>div:last-child button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: 'Instrument Sans', sans-serif;
        }

        header>div:first-child>div:last-child a button {
            border-radius: 8px;
            padding: 10px 25px;
            color: white;
            font-weight: bold;
            background: rgba(255, 105, 21, 1);
            font-size: 18px;
        }

        header>div:first-child>div:last-child button:first-child img {
            width: 30px;
        }

        /* Hero Section */
        .hero {
            color: var(--primary-color);
            display: flex;
            align-items: center;
            padding: 80px 80px 0;
            /* background: #fef4f4; */
            gap: 50px;
        }

        .hero h1 {
            margin: 12px 0 40px;
            font-size: 5rem;
            font-family: 'Outfit', sans-serif;
            font-weight: 800;
        }

        .highlight-box {
            background-color: rgba(255, 104, 23, 0.5);
            font-size: 14px;
            color: white;
            padding: 9px 2rem;
            border-radius: 2.5rem;
            font-family: 'Plus Jakarta Sans', sans-serif;
            display: inline-block;
        }

        .hero button {
            cursor: pointer;
            margin-top: 40px;
            background-color: #f75809;
            font-size: 23px;
            color: white;
            padding: 15px;
            border-radius: 12px;
            display: inline-block;
            font-weight: bold;
            outline: none;
            border: none;
            font-family: 'Outfit', sans-serif;
        }

        .hero-text {
            flex: 1;
        }

        .highlight {
            color: #ff6b35;
        }

        .hero .description {
            font-size: 1rem;
            color: var(--fourth-color);
            font-weight: 500;
            max-width: 560px;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .hero-image img {
            width: 600px;
            height: 450px;
            border-radius: 10px;
            background-image: radial-gradient(circle closest-side, rgba(255, 122, 0, 0.6), var(--secondary-color));
        }

        /* Services Section */
        .services {
            color: var(--primary-color);
            padding: 60px;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .services h2 {
            text-align: center;
            font-size: 70px;
            font-weight: 800;
        }

        .service-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 66px 80px;
            margin: 65px 60px;
            justify-items: center;
        }

        .service-card {
            text-align: center;
            border: 1px solid #DEDEDE;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 100px 80px 0px, rgba(0, 0, 0, 0.05) 0px 41.78px 33.42px 0px, rgba(0, 0, 0, 0.04) 0px 22.34px 17.87px 0px, rgba(0, 0, 0, 0.035) 0px 12.52px 10.02px 0px, rgba(0, 0, 0, 0.0283) 0px 6.65px 5.32px 0px, rgba(0, 0, 0, 0.0283) 0px 2.77px 2.21px 0px;
            width: 409px;
            height: 434px;
            padding: 40px 35px;
            border-radius: 5px;
            border: 1px;
            align-content: center;
            background-color: var(--third-color);
        }

        .service-card img {
            width: 148px;
            height: 181px;
            margin-bottom: 10px;
        }

        .services p {
            color: #737373;
            font-size: 1rem;
            padding-left: 35px;
            padding-right: 35px;
        }

        hr {
            width: 53%;
            height: 2px;
            margin: 0 23.5%;
            background-color: var(--primary-color);
        }

        .values {
            color: var(--primary-color);
            font-family: 'Outfit', sans-serif;
        }

        .values h2 {
            font-size: 70px;
            text-align: center;
            margin: 8rem 0;
        }

        .values>p {
            font-size: 30px;
            text-align: center;
            margin-bottom: 81px;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }

        .cards {
            padding: 118px;
            padding-top: 0;
            margin-left: 106px;
            margin-right: 105px;
        }

        .cards>div {
            display: flex;
            gap: 128px;
            margin-bottom: 96px;
            justify-content: center;
        }

        .card {
            width: 577px;
            height: 337.76px;
            background-color: #1c1c1c;
            color: white;
            padding: 52px 117px;
            border-radius: 30px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card>div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card p {
            font-size: 20px;
            line-height: 1.6;
        }

        .card img {
            width: 4rem;
            height: 4rem;
        }

        .outro {
            border-radius: 30px;
            background-color: var(--outro);
            margin: 0 5rem 2.5rem;
            color: white;
            display: flex;
            font-family: 'Poppins', sans-serif;
            overflow: hidden;
            justify-content: space-between;
        }

        .outro>div:first-child {
            padding: 21px 42px;
        }

        .outro h2 {
            font-size: 51.2px;
            max-width: 561px;
            font-weight: 400;
        }

        .outro p {
            font-weight: 400;
            margin: 2rem 0;
            max-width: 353px;
            font-size: 18px;
        }

        .outro .btns {
            display: flex;
            gap: 41px;
        }

        .outro button {
            cursor: pointer;
            outline: none;
            border: none;
            padding: 1.5rem 2.5rem;
            border-radius: 50px;
            font-size: 18px;
            background-color: #FF5B00;
            color: white;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
        }

        .outro button:last-child {
            background-color: white;
            color: #FF5B00;
        }

        .outro img {
            margin-right: -30px;
        }

        /* Footer */
        footer {
            background: black;
            padding: 2rem 7rem;
            color: #9A9EA6;
            font-family: 'Plus Jakarta Sans', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .subfooter {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4rem;
        }

        .subfooter>div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .subfooter>div:first-child {
            max-width: 483px;
        }

        .subfooter>div:first-child>div:first-child {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .subfooter img {
            width: 4rem;
        }

        .subfooter .contact {
            margin-top: 1rem;
            display: flex;
            gap: 20px;
            flex-direction: column;
        }

        .subfooter .contact span {
            display: flex;
            gap: 6px;
            align-items: center;
        }

        .subfooter>div:last-child {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            flex-direction: row;
        }

        .subfooter>div:last-child>div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .subfooter .heading {
            font-size: 18px;
            font-weight: bold;
            color: white;
            margin-bottom: 0.25rem;
        }

        footer .ending {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            font-size: 14px;
        }

        footer .ending div {
            display: flex;
            gap: 2.5rem;
        }

        @media (max-width: 1496px) {
            .card h3 {
                font-size: 1.5rem;
            }
        }

        @media (max-width: 1320px) {
            .hero h1 {
                font-size: 4rem;
            }

            .hero .description {
                font-size: 14px;
            }

            .hero-image img {
                width: 400px;
                height: 300px;
            }

            .service-cards {
                grid-template-columns: repeat(2, 1fr);
            }

            .outro {
                justify-content: space-between;
                margin: 0 4.2vw 2.1vw;
            }

            .outro>div:first-child {
                padding: 1.1vw 2.2vw;
                height: min-content;
            }

            .outro h2 {
                font-size: 2.7vw;
                max-width: 30vw;
            }

            .outro p {
                margin: 1.67vw 0;
                max-width: 18.4vw;
                font-size: 1vw;
            }

            .outro .btns {
                gap: 2.14vw;
            }

            .outro button {
                cursor: pointer;
                padding: 1.25vw 2.1vw;
                font-size: 1vw;
            }

        }

        @media (max-width: 1036px) {

            header nav {
                display: none;
            }

            .ham-menu {
                display: block;
            }

            header>div:last-child ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 18px;
            }

            .hero {
                flex-direction: column-reverse;
                padding: 4rem 4rem 0;
            }

            .hero h1 {
                font-size: 3.5rem;
            }

            .hero .description {
                font-size: 14px;
            }

            .hero-text {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .hero button {
                margin-top: 27px;
                font-size: 18px;
                padding: 19px 28px;
                width: fit-content;
            }


            .stats {
                font-size: 1rem;
            }


            .about h2 {
                font-size: 3.5rem;
            }

            .about p {
                font-size: 1rem;
            }

            .services {
                padding: 2rem;
            }

            .services h2 {
                font-size: 3.5rem;
            }

            .service-cards {
                gap: 2.5rem;
                margin: 3rem;
            }

            .service-card {
                padding: 1rem;
                width: 20rem;
            }

            .service-card img {
                width: 100px;
                height: 120px;
            }

            .mission h2 {
                margin-top: 0;
                font-size: 3.5rem;
            }

            .mission>div {
                padding: 4rem;
            }

            .mission div div:first-child {
                font-size: 1.5rem;
            }

            .values h2 {
                font-size: 3.5rem;
            }

            .values>p {
                font-size: 1.5rem;
            }

            .cards {
                padding: 4rem;
                padding-top: 0;
            }

            .cards>div {
                gap: 4rem;
            }

            .card h3 {
                font-size: 1.5rem;
            }

            .card p {
                font-size: 14px;
            }

            .clients .intro {
                font-size: 14px;
                margin-bottom: 4rem;
            }

            .clients .intro h4 {
                font-size: 2.5rem;
            }

            .testimonials {
                flex-direction: column;
                align-items: center;
            }

            .clients button {
                padding: 12px 1rem;
                font-size: 12px;
                border-radius: 1.5rem;
            }

            footer {
                padding: 3rem 4px;
            }

            .subfooter {
                justify-content: center;
            }

            .subfooter>div {
                gap: 2.5rem;
                align-items: center;
            }

            .subfooter>div:first-child>div:first-child {
                flex-direction: row;
                gap: 2rem;
                position: relative;
                align-items: center;
            }

            .subfooter>div:first-child>div:first-child span {
                height: min-content;
            }

            .subfooter>div>span {
                font-size: 14px;
            }

            .subfooter .contact {
                margin-top: 0;
                font-size: 14px;
                gap: 1rem;
            }

            .subfooter .contact span {
                display: flex;
                gap: 6px;
                align-items: center;
            }

            .subfooter>div:last-child {
                display: none;
            }

            footer .ending {
                flex-direction: column-reverse;
                gap: 2rem;
                text-align: center;
            }

            footer .ending div {
                justify-content: center;
                font-size: 12px;
                gap: 0.5rem;
            }
        }

        @media (max-width: 862px) {

            header>div:first-child>div:last-child {
                gap: 10px;
            }

            header>div:first-child>div:last-child button:first-child img {
                width: 20px;
            }

            header>div:first-child>div:last-child a button {
                border-radius: 8px;
                padding: 5px 12px;
                font-size: 12px;
            }

            .ham-menu {
                height: 30px;
                width: 20px;
            }

            .ham-menu span {
                height: 2px;
                border-radius: 10px;
            }

            .hero-image img {
                width: 400px;
                height: 300px;
            }

            .stats {
                scale: 0.7;
            }

            .about {
                flex-direction: column-reverse;
            }

            .mission>div {
                flex-direction: column-reverse;
            }

            .service-cards {
                grid-template-columns: repeat(1, 1fr);
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .card {
                width: 100%;
                height: auto;
            }

            .cards>div {
                align-items: center;
                flex-direction: column;
            }

            .clients .intro {
                flex-direction: column;
                align-items: center;
            }

        }

        @media (max-width: 420px) {

            header {
                padding: 23px 22px 24px 0;
            }

            header nav {
                display: none;
            }

            header>div:last-child {
                display: none;
            }

            .hero {
                flex-direction: column-reverse;
                align-items: center;
            }


            .hero h1 {
                font-size: 45px;
                margin-bottom: 20px;
            }

            .hero-text>div {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }

            .highlight-box {
                padding: 4px 6px;
                font-size: 9px;
                display: block;
            }


            .hero button {
                margin-top: 27px;
                font-size: 18px;
                padding: 19px 28px;
            }

            .hero-text {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .hero .description {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 500;
                max-width: 396px;
                text-align: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
            }

            .hero-image img {
                width: 300px;
                height: 243.46px;
                border-radius: 10px;
                background-image: radial-gradient(circle closest-side, rgba(255, 122, 0, 0.6), var(--secondary-color));
            }

            .stats {
                flex-direction: column;
                font-size: 10px;
                align-items: center;
                scale: 1;
            }

            .stat-item {
                min-width: 93px;
            }

            .stat-item img {
                width: 20px;
                height: 20px;
            }

            .stat-item p {
                max-width: 50px;
            }

            .stat-item:nth-child(2) {
                width: 145px;
            }

            .about {
                padding: 4rem 40px;
                flex-direction: column-reverse;
            }

            .about>div:first-child {
                width: auto;
            }

            .about h2 {
                line-height: 3rem;
            }

            .about .highlight {
                font-size: 2.5rem;
            }

            .about p {
                font-size: 15px;
            }

            .about-image {
                width: 100%;
                display: flex;
                justify-content: end;
                margin-bottom: -100px;
            }

            .about-image img {
                width: 144px;
                height: 180px;
            }

            .services {
                padding: 0;
                padding-bottom: 0;
            }

            .services h2 {
                font-size: 40px;
                margin: 0;
            }

            .service-cards {
                margin: 25px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 33px;
            }

            .service-card {
                padding: 10px 3px;
                border-radius: 20px;
                width: 162px;
                width: Fixed (409px)px;
                height: Fixed (434px)px;
                padding: 40px 35px 40px 35px;
                gap: 30px;
                border-radius: 5px 0px 0px 0px;
                border: 1px 0px 0px 0px;
                opacity: 0px;

            }

            .service-card img {
                width: 52px;
                height: 61px;
                margin-bottom: 10px;
            }

            .service-card p {
                font-size: 10px;
            }

            .service-card h3 {
                font-size: 12px;
            }

            hr {
                display: none;
            }

            .mission {
                padding: 3rem;
            }

            .mission img {
                width: 300px;
            }

            .mission h2 {
                font-size: 40px;
            }

            .mission>div {
                padding: 20px;
                flex-direction: column-reverse;
                gap: 2rem;
            }

            .mission div div:first-child {
                width: auto;
                font-size: 15px;
            }

            .mission div div:last-child {
                background-image: radial-gradient(circle closest-side, rgba(255, 122, 0, 0.6), var(--secondary-color));
            }

            .values h2 {
                font-size: 2.5rem;
            }

            .values>p {
                font-size: 1.5rem;
            }

            .cards {
                padding: 3rem 2rem;
                padding-top: 0;
            }

            .cards>div {
                gap: 1rem;
                margin-bottom: 2rem;
            }

            .card {
                width: 166px;
                padding: 0.5rem;
                border-radius: 2rem;
                text-align: center;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease;
            }

            .card:hover {
                transform: translateY(-10px);
            }

            .card h3 {
                font-size: 12px;
                margin-bottom: 5px;
            }


            .card img {
                width: 2rem;
                height: 2rem;
            }

            .card p {
                font-size: 10px;
            }

            .clients {
                padding: 0;
            }

            .clients .intro {
                flex-direction: column;
                align-items: center;
                padding: 0 2rem;
            }

            .clients .intro div {
                font-size: 13px;
            }

            .clients .intro h4 {
                font-size: 2rem;
            }

            .testimonials {
                gap: 1rem;
                flex-direction: column;
                align-items: center;
            }

            .testimonials img:not(.stars img) {
                width: 56px;
                height: 56px;
            }

            .testimonials>div {
                width: 300px;
                padding: 2rem;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px 0, rgba(0, 0, 0, 0.25) 0 4px 4px 0, rgba(0, 0, 0, 0.25) 0 4px 4px 0;
            }

            .testimonials p {
                margin: 4px 0 0;
                font-size: 12px;
            }

            .testimonials div div div {
                padding: 0.5rem 5px;
                font-size: 1rem;
            }

            .testimonials h2 {
                font-size: 12px;
                margin: 1rem 0;
                font-weight: 600;
            }

            .testimonials .content {
                font-size: 10px;
                margin: 0 0 1rem;
            }

            .stars {
                justify-content: center;
                gap: 2rem;
            }

            .outro {
                border-radius: 0px;
                margin: 2.5rem 0;
                padding: 12px 35px;
                align-items: center;
            }

            .outro>div:first-child {
                padding: 0;
            }

            .outro h2 {
                font-size: 12px;
                max-width: 145px;
                color: #FF5B00;
            }

            .outro p {
                margin: 1.5rem 0 1rem;
                max-width: 134px;
                font-size: 10px;
                color: rgba(255, 255, 255, 0.7);
            }

            .outro .btns {
                display: flex;
                gap: 41px;
            }

            .outro button {
                padding: 6px 12px;
                font-size: 12px;
                letter-spacing: 0px;
                display: none;
            }

            .outro button:last-child {
                background-color: white;
                color: black;
                font-weight: 600;
                display: block;
            }

            .outro img {
                margin-right: 0px;
                width: 188px;
                height: 167px;
                border-radius: 34px;
            }

            footer {
                padding: 3rem 4px;
            }

            .subfooter>div {
                gap: 2.5rem;
            }

            .subfooter>div:first-child>div:first-child {
                flex-direction: row;
                gap: 2rem;
                position: relative;
                align-items: center;
            }

            .subfooter>div:first-child>div:first-child span {
                height: min-content;
            }

            .subfooter>div>span {
                font-size: 14px;
            }

            .subfooter .contact {
                margin-top: 0;
                font-size: 14px;
                gap: 1rem;
            }

            .subfooter .contact span {
                display: flex;
                gap: 6px;
                align-items: center;
            }

            .subfooter>div:last-child {
                display: none;
            }

            footer .ending {
                flex-direction: column-reverse;
                gap: 2rem;
                text-align: center;
            }

            footer .ending div {
                font-size: 12px;
                gap: 0.5rem;
            }
        }
    </style>
</head>

<body>


    <!-- Navbar -->
    <header>
        <div>
            <img src="assets\images\logo.svg" alt="logo">
            <nav>
                <div>
                    <a href="/">
                        <img src="assets\images\Home.svg" alt="home">
                        <span>Home</span>
                    </a>
                </div>
                <div>
                    <img src="assets\images\Home.svg" alt="home">
                    <span>About Us</span>
                </div>
                <div>
                    <img src="assets\images\Home.svg" alt="home">
                    <span>Services</span>
                </div>
            </nav>
            <div>
                <button><img src="assets/images/lighttodark.svg" alt="mode"></button>
                <a href="/contact">
                    <button>Contact</button>
                </a>
                <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <span>About Us</span>
                </li>
                <li>
                    <span>Services</span>
                </li>
            </ul>
        </div>
    </header>
    <main>

        <!-- Hero Section -->
        <section class="hero">
            <div class="hero-text">
                <div>
                    <h1>DATA <span class="highlight"><br>ANALYTICS</span><br></h1>
                </div>
                <p class="description">Unlock the full potential of your data with our advanced<br> analytical
                    solutions.Our team utilizes cutting-edge techniques to<br> analyze and interpret data, providing
                    actionable insights that<br> drive informed decision making and fuel business growth </p>
            </div>
            <div class="hero-image">
                <img src="assets/images/dataanalytics.png" alt="Hero Image" width="431" height="375">
                <!-- Replace with your hero image -->
            </div>
        </section>


        <!-- Services Section -->
        <section class="services">
            <h2>Our <span class="highlight">Services</span></h2>


            <div class="service-cards">
                <!-- Each card represents a service -->
                <div class="service-card">
                    <img src="assets/images/robot assistant.png" alt="Machine Learning Icon" width="40" height="40">
                    <!-- Replace with Machine Learning icon -->
                    <p>Centralize your data storage for efficient access and analysis</p>
                    <h3>Data Warehousing</h3>
                </div>
                <div class="service-card">
                    <img src="assets/images/chatbot.png" alt="NLP Icon" width="40" height="40">
                    <!-- Replace with NLP icon -->
                    <p>Visualize and interpret data to support decision-making</p>
                    <h3>Business Intelligence (BI)</h3>
                </div>


                <div class="service-card">
                    <img src="assets/images/face scan.png" alt="Computer vision" width="40" height="40">
                    <!-- Replace with Computer vision -->
                    <p>Handle and analyze large volumes of data for comprehensive insights</p>
                    <h3>Big Data Analytics</h3>
                </div>
                <div class="service-card">
                    <img src="assets/images/AI consulting.png" alt="AI consulting" width="40" height="40">
                    <!-- Replace with AI consulting icon -->
                    <p>Anticipate future trends and behaviors to stay ahead of the curve</p>
                    <h3>Predictive Analytics</h3>
                </div>
            </div>
        </section>
        <hr>


        <!-- Mission Section -->
        <section class="values">
            <h2>How Will This <span class="highlight">Help</span> You ?</h2>
            <div class="cards">
                <div>
                    <div class="card excellence">
                        <img src="assets/images/Speedometer.svg" alt="photo">
                        <h3>Increased Efficiency and Automation</h3>
                    </div>
                    <div class="card innovation">
                        <img src="assets/images/Combo Chart.svg" alt="photo">
                        <h3>Enhanced data-driven <br>decision-making</h3>
                    </div>
                </div>
                <div>
                    <div class="card collaboration">
                        <img src="assets/images/Smiling.svg" alt="photo">
                        <h3>Improved customer experiences</h3>
                    </div>
                    <div class="card customer-focus">
                        <img src="assets/images/Launch.svg" alt="photo">
                        <h3>Competitive edge in the market</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="outro">
            <div>
                <h2>Ready to start scaling your business now?</h2>
                <p>Lorem ipsum dolor sit am consectetur adipiscing varius enim in eros.</p>
                <div class="btns">
                    <button>Our services</button>
                    <a href="/contact">
                        <button>Contact us</button>
                    </a>
                </div>
            </div>
            <img src="assets/images/On the way-pana (1) 1-1.png" alt="photo">
        </section>

    </main>


    <!-- Footer -->
    <footer>
        <div class="subfooter">
            <div>
                <div>
                    <img src="assets/images/osl_logo.svg" alt="logo">
                    <span>Old Skool Labs</span>
                </div>
                <span>Destinize adalah website atau layanan aplikasi yang membantu kamu memilih atau merekomendasikan
                    tempat yang dijuluki 'hidden gems' agar lebih dikenal dan ramai <span class="highlight">Baca
                        Selengkapnya</span></span>
                <div class="contact">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <g fill="currentColor">
                                <path
                                    d="M22 12A10 10 0 0 0 12 2v2a8 8 0 0 1 7.391 4.938A8 8 0 0 1 20 12zM2 10V5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6a8 8 0 0 0 8 8v-2a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5C7.373 22 2 16.627 2 10" />
                                <path
                                    d="M17.543 9.704A6 6 0 0 1 18 12h-1.8A4.2 4.2 0 0 0 12 7.8V6a6 6 0 0 1 5.543 3.704" />
                            </g>
                        </svg><span>+91 8504897767</span>
                    </span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48">
                            <path fill="currentColor"
                                d="M10.25 8A6.25 6.25 0 0 0 4 14.25v19.5A6.25 6.25 0 0 0 10.25 40h27.5A6.25 6.25 0 0 0 44 33.75v-19.5A6.25 6.25 0 0 0 37.75 8zM6.5 14.25a3.75 3.75 0 0 1 3.75-3.75h27.5a3.75 3.75 0 0 1 3.75 3.75v.89l-17.498 9.21L6.5 15.063zm0 3.644l16.914 8.974a1.25 1.25 0 0 0 1.168.002L41.5 17.965V33.75a3.75 3.75 0 0 1-3.75 3.75h-27.5a3.75 3.75 0 0 1-3.75-3.75z" />
                        </svg><span>reachtoamitoldskool@gmail.com</span>
                    </span>
                </div>
            </div>
            <div>
                <div>
                    <span class="heading">Tentang</span>
                    <span>Tentang Kami</span>
                    <span>Blog</span>
                    <span>Karir</span>
                    <span>Pekerjaan</span>
                    <span>Berita</span>
                    <span>Galeri</span>
                    <span>Afiliasi</span>
                </div>
                <div>
                    <span class="heading">Support</span>
                    <span>Tentang Kami</span>
                    <span>Blog</span>
                    <span>Karir</span>
                    <span>Pekerjaan</span>
                    <span>Berita</span>
                    <span>Galeri</span>
                    <span>Afiliasi</span>
                </div>
                <div>
                    <span class="heading">FAQ</span>
                    <span>Tentang Kami</span>
                    <span>Blog</span>
                    <span>Karir</span>
                    <span>Pekerjaan</span>
                    <span>Berita</span>
                    <span>Galeri</span>
                    <span>Afiliasi</span>
                </div>
            </div>
        </div>
        <div class="ending">
            <span>© 2021-2022, All Rights Reserved</span>
            <div>
                <span>Tentang Kami</span>
                <span>Kontak</span>
                <span>Privasi & policy</span>
                <span>Sitemap</span>
                <span>Panduan Pengunaan</span>
            </div>
        </div>
    </footer>

    <script>
        let mql = window.matchMedia("(max-width: 1320px)");
        if (mql.matches) {
            const b = document.querySelector('.outro>div:first-child');
            document.querySelector('.outro img').setAttribute('height', b.clientHeight);
        }

        const hamMenu = document.querySelector(".ham-menu");
        const offScreenMenu = document.querySelector("header>div:last-child");
        hamMenu.addEventListener("click", () => {
            hamMenu.classList.toggle("active");
            offScreenMenu.classList.toggle("active");
        });

        const darkLight = document.querySelector('header>div:first-child>div:last-child button:first-child');
        darkLight.addEventListener('click', () => {
            darkLight.querySelector('img').classList.toggle('active');
            document.body.classList.toggle('dark-theme');
            if (darkLight.querySelector('img').classList.contains('active')) {
                darkLight.querySelector('img').src = "assets/images/dark.svg";
            } else {
                darkLight.querySelector('img').src = "assets/images/lighttodark.svg";
            }
        });
    </script>




</body>

</html>